body {
    margin: 0 auto;
    max-width: 1366px;
    max-height: 768px;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;

}

.all {
    max-width: 1070px;
    max-height: auto;
    margin: auto;
    padding-top: 49px;
}

a {
    text-decoration: none;
    color: white;
}

header p {

    color: white;
}

.logo {
    left: 0px;
    color: white;
    display: inline-block;
    position: relative;

}

.orange {
    display: none;
}

.Milan {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}

.Hol {
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}
.logo:hover span {
    color: rgb(242, 101, 34);
}

.logo:hover .orange {
    display: inline-block;
}

.logo:hover .white {
    display: none;
}

.mail {
    float: right;
    text-align: right;
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.clear {
    clear: both;
}

.cards {
    margin-top: 44px;
}

figure img {
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(to bottom, #fff, #000);
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #fff, #000);
    border-bottom: black;
    box-shadow: 0px 17px 24px 0px #000000;


}

figcaption {
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 22px;
}

figure {
    display: inline-block;
    vertical-align: top;

}

.line2 {
    margin-top: 35px;
}

.col1, .col2 {
    margin-right: 63px;
}

.clear {
    clear: both;
}

footer p {
    font-family: Verdana;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 50px;
}

.fig {
    display: inline-block;
    position: relative;
}

.drop {

    position: absolute;
    background-color: rgb(242, 101, 34);
    width: 312px;
    height: 0px;
    color: white;
    bottom: 45px;
    transition: all .5s linear;
    overflow: hidden;
}

.fig:hover .drop {

    height: 63px;
}

.fig:hover a {
    color: rgb(242, 101, 34);
}

.sp1 {
    position: absolute;
    top: 16px;
    left: 21px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;


}

.sp2 {
    position: absolute;
    top: 31px;
    left: 21px;
    float: left;
    font-family: Verdana;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
}

.sp3 {
    position: absolute;
    bottom: 17px;
    right: 40px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    bottom: 17px;
    right: 40px;
}

.sp4 {
    position: absolute;
    bottom: 17px;
    right: 40px;
    font-family: Verdana;
    color: #ffffff;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    bottom: 17px;
    right: 18px;
}
